.barra-navegacion {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: linear-gradient(to left, #008ce9, #0036e9d5);;
    padding: 20px;
  }
  
  .barra-navegacion a {
    text-align: left;
    display: block;
  
    margin: 25px;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
    
  }
  
  .contenido {
    margin-left: 220px; /* Ancho de la barra de navegación + espacio de separación */
    padding: 20px;
  }
  
  .MainTitle{
    margin-top: 0;
    margin-bottom: 40;
   color: #ffffff;
   -webkit-text-stroke: 1px black; /* Para navegadores basados en WebKit (Chrome, Safari) */
  }